body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    direction: rtl; /* تغيير الاتجاه إلى من اليمين إلى اليسار */
}

header {
    text-align: center;
    padding: 50px;
    background-color: #007BFF;
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.ad, .store {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
